@model Shop.Models.ChuckNorrises.ChuckNorrisIndexViewModel

<h1>Chuck Norris Jokes</h1>

<div class="container">
	<form method="post">
		<div class="container">
			<div class="form-group col-md-offset-3 col-md-5">
				<h2>Chuck Norris joke generator</h2>
			</div>
		</div>
		<div class="container">
			<form asp-controller="ChuckNorrisJoke" asp-action="GenerateJoke" method="post">
				<div class="form-group col-md-offset-3 col-md-5">
					<button type="submit" class="btn btn-outline-dark">Generate Joke</button>
				</div>
			</form>
		</div>
	</form>
</div>
